<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <!-- <listeners>
        <listener class-name="unittests.CustomReport" />
    </listeners>-->
  <test name="Test">
	<!-- Add your Functional Test class here -->
    <classes>
     <class name="test.EventsApp.tests.SplashScreen" >
      <methods>
      	 <include name = "test_ValidateSplashText"/>   	    
      </methods>
      </class>
     <class name="test.EventsApp.tests.EventsTest" >
      <methods>
      	 <include name = "test_AllEventsTitle"/>
      	    <include name = "test_AllEventsEvent"/>
      	    <include name = "test_UpcomingEvents"/>      	    
      </methods>
      </class>
     
            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
